@import "_colors.scss";

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
    text-align: center;
    padding: 2rem;
    @include themed() {
        background: t("bg-3");
    }

    h1 {
        margin-bottom: 1rem;
    }

    div {
        max-width: 700px;
    }

    .dropDate {
        margin-top: 3rem;
        text-align: center;
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 5px;
        @include themed() {
            color: t("bg-1");
            background: t("text");
        }
    }
}
